In [10]:
from SPARQLWrapper import SPARQLWrapper, JSON, XML
import pandas as pd
import time
import Levenshtein as lev

In [11]:
forbes_list_2018 = pd.read_csv("file:///Users/tbro/PycharmProjects/corpedia/Forbes_2000_2018.csv")

In [12]:
forbes_list_2018 = forbes_list_2018[["rank", "name", "country"]]
forbes_list_2018 = forbes_list_2018.sort_values(by="rank")
forbes_list_2018.set_index("rank", drop= True)

                            name         country
rank
1                           ICBC           China
2        China Construction Bank           China
3                 JPMorgan Chase   United States
4             Berkshire Hathaway   United States
5     Agricultural Bank of China           China
6                Bank of America   United States
7                    Wells Fargo   United States
8                          Apple   United States
9                  Bank of China           China
10       Ping An Insurance Group           China
11             Royal Dutch Shell     Netherlands
12                  Toyota Motor           Japan
13                    ExxonMobil   United States
14           Samsung Electronics     South Korea
15                          AT&T   United States
16              Volkswagen Group         Germany
17                 HSBC Holdings  United Kingdom
18        Verizon Communications   United States
19                   BNP Paribas          France
20                     Microsoft   United States
21                       Chevron   United States
22                       Allianz         Germany
23                      Alphabet   United States
24                       Walmart   United States
25                  China Mobile       Hong Kong
26                         Total          France
27                       Sinopec           China
28            UnitedHealth Group   United States
29                       Daimler         Germany
30                    PetroChina           China
...                          ...             ...
1971         Sembcorp Industries       Singapore
1972                   Bid Corp.    South Africa
1973             Signet Jewelers         Bermuda
1973          Fuyo General Lease           Japan
1973         Southwestern Energy   United States
1976          Group 1 Automotive   United States
1977               Alps Electric           Japan
1977                      F.N.B.   United States
1979                      Yamaha           Japan
1980      Constellation Software          Canada
1980                  FinecoBank           Italy
1982            LG International     South Korea
1983       Saudi Investment Bank    Saudi Arabia
1983           Thomas Cook Group  United Kingdom
1985              Sinotrans Ltd.           China
1985           Telecom Argentina       Argentina
1987           Synovus Financial   United States
1988                         HCP   United States
1989                   Securitas          Sweden
1990        Nanjing Iron & Steel           China
1991      Electricity Generating        Thailand
1992                    Vingroup         Vietnam
1993                        MSCI   United States
1993                    Uralkali          Russia
1993                    Awa Bank           Japan
1996           Sumec Corporation           China
1996             SEI Investments   United States
1996                   Fabege AB          Sweden
1999     BioMarin Pharmaceutical   United States
1999       China Agri-Industries       Hong Kong

[2000 rows x 2 columns]

In [31]:
def QuerySparql(query):
    sparql = SPARQLWrapper("https://query.wikidata.org/sparql")
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    results = sparql.queryAndConvert()
    return results['results']['bindings']

In [32]:
def GenQuery(raw_name): 
    result= """SELECT DISTINCT ?item ?itemLabel ?alias WHERE {?item wdt:P414 ?stock; rdfs:label ?itemLabel; skos:altLabel ?alias FILTER (lang(?itemLabel) = 'en'). FILTER (LANG (?alias) = "en"). FILTER regex (?alias, '^.*""" + raw_name + ".*$').}"
    return result

In [33]:
def GetWikiIDs(query_list, raw_name):
    wiki_id = query_list["item"]["value"].replace("http://www.wikidata.org/entity/","")
    match_name = query_list["itemLabel"]["value"]
    alias = query_list["alias"]["value"]
    if (lev.ratio(match_name.lower(),raw_name.lower())<0.5 or lev.ratio(alias.lower(),raw_name.lower())<0.5):
        return wiki_id, match_name
    else:
        return NA

In [41]:
def GetWikiIDsFromRawName (raw_name):
    query = GenQuery(raw_name)
    result_list = QuerySparql(query)
    result = list(map(GetWikiIDs, result_list,raw_name))
    time.sleep(6)
    return(result)

In [35]:
raw_name="ICBC"
query = GenQuery(raw_name)
result_list = QuerySparql(query)
result = list(map(GetWikiIDs, result_list, raw_name))

In [36]:
print(result)

[('Q26463', 'Industrial and Commercial Bank of China')]

In [42]:
Forbes_2000_raw_names = pd.Series(forbes_list_2018.iloc[10:20,1])

In [43]:
Forbes_2000_raw_names.index = Forbes_2000_raw_names

In [44]:
Forbes_2000_IDs = Forbes_2000_raw_names.apply(GetWikiIDsFromRawName)

In [45]:
Forbes_2000_raw_names

name
Royal Dutch Shell              Royal Dutch Shell
Toyota Motor                        Toyota Motor
ExxonMobil                            ExxonMobil
Samsung Electronics          Samsung Electronics
AT&T                                        AT&T
Volkswagen Group                Volkswagen Group
HSBC Holdings                      HSBC Holdings
Verizon Communications    Verizon Communications
BNP Paribas                          BNP Paribas
Microsoft                              Microsoft
Name: name, dtype: object